.App{
  margin: auto;
  width: 20%;
}

.App button{

color: ghostwhite;
font-weight: 600;
font-size: larger;
border: 1px solid black;
border-radius: 4px;
padding: 4%;
margin: 5%;
outline: 0;
cursor: pointer;
text-align: center;

}
.plus{
  background-color: green;
}
.moin{
  background-color: red;
}
.App button:hover{
background-color: ghostwhite;
color: blue;
transition: 0.3s;
}
